# Dependências
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build
dist/
build/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Cache
.cache/
.eslintcache

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Coverage (testes)
coverage/

# Next.js / frameworks (se usar)
.next/
out/

# Vite
.vite/

# Temporary
tmp/
temp/